/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e0f7fa; /* Powder Blue */
  color: #002349; /* Dark Royal Blue text color */
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.search-panel {
  width: 15%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  padding: 10px;
  background-color: #b3e5fc; /* Light Powder Blue */
  color: #002349; /* Dark Royal Blue text color */
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #ffffff; /* White background */
}

.header {
  padding: 20px;
  text-align: center;
  background-color: #ffffff; /* White */
  color: #002349; /* Dark Royal Blue text */
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #002349; /* Dark Royal Blue border */
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 2px;
  gap: 2px;
  background-color: #ffffff; /* White */
}

.insights-panel {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* White */
}

.key-terms-section,
.search-results-section {
  height: 50%;
}

.pdf-lists-panel {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  flex: 2;
  background-color: #ffffff; /* White */
}

.pdf-viewer-panel {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  flex: 7;
  background-color: #ffffff; /* White */
}

.pdf-viewer-section {
  height: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.pdf-lists-section,
.search-results-section,
.pdf-keyterms-section {
  max-height: 600px;
}

/* Key Terms Styles */
.key-terms-section {
  margin-bottom: 20px;
}

.keyterm-item {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.keyterm-item:hover {
  background-color: #f0f4f8; /* Very light powder blue hover effect */
  box-shadow: 0 4px 8px rgba(0, 23, 55, 0.2); /* Shadowy Royal Blue effect */
}

.keyterm {
  font-size: 14px;
}

/* PDF Lists Styles */
.pdf-lists-section {
  display: flex;
  flex-direction: column;
}

.pdf-lists-section .pdf-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.pdf-item:hover {
  background-color: #f0f4f8; /* Very light powder blue hover effect */
  box-shadow: 0 4px 8px rgba(0, 23, 55, 0.2); /* Shadowy Royal Blue effect */
}

.pdf-name {
  margin-left: 10px;
  font-size: 14px;
}

/* Search Styles */
.search-section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-section .section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-section .section .add-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 16px;
  background-color: #002349; /* Dark Royal Blue */
  color: #ffffff; /* White text for contrast */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-section .section .add-button:hover {
  transform: scale(1.02);
}

.search-section .container .advance-search-button {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #002349; /* Dark Royal Blue */
  color: #ffffff; /* White text for contrast */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-section .container .advance-search-button:hover {
  transform: scale(1.02);
}

.input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  height: 40px;
  border: 1px solid #b5b7c0;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 400;
  transition: border-color 0.3s ease;
}

.input-field:hover {
  transform: scale(1.02);
}

.input-field:focus {
  border-color: #002349; /* Dark Royal Blue */
  outline: none;
}

.search-button,
.remove-button {
  border: none;
  height: 38px;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button {
  background-color: #002349; /* Dark Royal Blue */
  color: #ffffff; /* White text for contrast */
}

.search-button:hover {
  transform: scale(1.02);
}

.remove-button {
  background-color: #957c3d; /* Gold */
  color: #ffffff; /* White text for contrast */
}

.remove-button:hover {
  transform: scale(1.02);
}

.search-button .fa-search,
.remove-button .fa-trash {
  color: #ffffff; /* White icons */
}

/* PDF Icon Styles */
.pdf-icon {
  color: #002349; /* Dark Royal Blue for PDF icon */
}

/* Loading and Error Styles */
.loading-indicator,
.error {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #002349; /* Dark Royal Blue text */
}

.error {
}

/* Result Item Styles */
.result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  flex-direction: column;
}

.result-item:hover {
  background-color: #f0f4f8; /* Very light powder blue hover effect */
  box-shadow: 0 4px 8px rgba(0, 23, 55, 0.2); /* Shadowy Royal Blue effect */
}

.result-item .pdf-item {
  display: flex;
}
